<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
    <link href="/assets/js/creative.js" rel="stylesheet" />
    <link href="/assets/js/creative.min.js" rel="stylesheet"/>

<div class="slick-carousel">
  <img src="assets/img/portfolio/fullsize/6.png" class="img-fluid mx-auto d-block" alt="img6">
  <img src="assets/img/portfolio/fullsize/6.png" class="img-fluid mx-auto d-block" alt="img6">
  <img src="assets/img/portfolio/fullsize/6.png" class="img-fluid mx-auto d-block" alt="img6">
  <img src="assets/img/portfolio/fullsize/6.png" class="img-fluid mx-auto d-block" alt="img6">
  <img src="assets/img/portfolio/fullsize/6.png" class="img-fluid mx-auto d-block" alt="img6">
  <img src="assets/img/portfolio/fullsize/6.png" class="img-fluid mx-auto d-block" alt="img6">
</div>
			
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
</section>
